@using BingMaps.Web.Extension
@model BingMaps.Web.Models.PointViewModel

<tr>
    <td>@Html.DisplayFor(m => m.AddressLine)</td>
    <td>@Html.DisplayFor(m => m.AdminDistrict)</td>
    <td>@Html.DisplayFor(m => m.AdminDistrict2)</td>
    <td>@Html.DisplayFor(m => m.CountryRegion)</td>
</tr>

