@using BingMaps.Web.Extension
@model BingMaps.Web.Models.PointViewModel

@{
    ViewBag.Title = "Home Page";
}

@using (Html.BeginForm("AddressList", "Home"))
{
    <h2>Podaj adres:</h2>
    @Html.LabelEditorValidatorFor(m => m.AddressLine)

    <input type="submit" value="Wyślij" />
}