@using BingMaps.Web.Extension
@model BingMaps.Web.Models.PointViewModel

@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">

</div>

<div class="row">

    <h2>Podaj Miasto</h2>
    @Html.LabelEditorValidatorFor(m => m.AddressLine)
    @Html.LabelDisplayValidatorFor(m => m.DisplayName)


</div>